body{
    background:#dce3ea;
    font-family:Arial, sans-serif;
    padding:5px;
    font-size:11px;
}

/* Main Container */

.container{
    width:70vw;
    max-width:1000px;
    margin:auto;
    padding-top:5px;
}

.container-box{
    background:white;
    border:2px solid #16395f;
    border-radius:6px;
    padding:8px;
    box-shadow:0px 2px 6px rgba(0,0,0,0.12);
    transform:scale(0.92);
    transform-origin:top center;
}

/* Header */

.top-header{

    width:100%;
    background:#07122b;
    padding:18px 20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);

}

.header-content{

    display:flex;
    align-items:center;
    justify-content:center;
    gap:18px;

}

.company-logo
{

    width:70px;
    height:70px;
    object-fit:contain;
    background:white;
    padding:5px;
    border-radius:10px;
}

/* Titles */

.title-section h1{

    color:white;
    font-size:38px;
    font-weight:700;
    margin:0;
    letter-spacing:1px;

}

.title-section p{

    color:#9aa7c7;
    margin-top:4px;
    font-size:16px;
    font-weight:600;
    letter-spacing:1px;

}


/* Labels */

label{
    font-size:12px;
    font-weight:bold;
    margin-bottom:1px;
}

/* Inputs */

.form-control{
    padding:2px 5px;
    font-size:12px;
    height:24px;
    border:1px solid #999;
}

/* Rows */

.row.g-3{
    --bs-gutter-y:0.25rem;
    --bs-gutter-x:0.5rem;
}

/* Tables */

.table{
    margin-bottom:4px;
}

.table td,
.table th{
    padding:2px !important;
    font-size:12px;
    vertical-align:middle;
}

/* Net Pay */

.netpay-box{
    padding:4px;
    margin-top:4px;
}

.netpay-box h4{
    font-size:11px;
    margin-bottom:2px;
}

.netpay-box h2{
    font-size:18px;
    margin:0;
}

/* Buttons */

.header-buttons{

    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:20px;
    flex-wrap:wrap;

}

.nav-btn{

    background:transparent;
    color:white;
    border:1px solid #3d4d7a;
    padding:10px 22px;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    transition:0.3s;

}

.nav-btn:hover{

    background:white;
    color:#07122b;

}
/* Responsive */

@media(max-width:992px){

@media(max-width:768px){

.header-content{

    flex-direction:column;
    text-align:center;

}

.title-section h1{

    font-size:24px;

}

.title-section p{

    font-size:13px;

}

.company-logo{

    width:60px;
    height:60px;

}

.nav-btn{

    width:100%;

}
}
}